# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Databases
*.db
*.sqlite3

# Logs and temp files
*.log
*.tmp
*.swp

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (if you ever use notebooks)
.ipynb_checkpoints/

# Large data files
*.csv
*.txt
*.json
